body {
    background-color: #38598b;
}

.card{
    background-color:  #a2a8d3;
    height: 350px;
    width: 700px;
    padding: 5px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 5%;
    text-align:center;
}

img{
    border: solid 1px black;
}

.navbar{
    background-color:  #a2a8d3;
    height: 40px;
    width: 100%;
    border: solid 1px black;
    border-radius: 1%;
}

.button{
    margin: 5px;
    font: 1em italic
}

.card-container{
    border: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.Header{
    background-color:  #a2a8d3
}

.Summary{
    background-color:  #a2a8d3
}